## Estructuras de Datos

1) Crear una lista que contenga nombres de ciudades del mundo que contenga más de 5 elementos e imprimir por pantalla

In [3]:
lis = ['Buenos Aires','Brasilia','Asunción','Montevideo','Santiago','Lima','Caracas','Bogotá']
print(lis)
list2 = ["edu","hilda","jorge","erick","jessica","carolina","koki","luana"]
print(list2)

['Buenos Aires', 'Brasilia', 'Asunción', 'Montevideo', 'Santiago', 'Lima', 'Caracas', 'Bogotá']
['edu', 'hilda', 'jorge', 'erick', 'jessica', 'carolina', 'koki', 'luana']

2) Imprimir por pantalla el segundo elemento de la lista

In [4]:
print(lis[1])
print(list2[1])

Brasilia
hilda

3) Imprimir por pantalla del segundo al cuarto elemento

In [5]:
print(lis[1:4])
print(list2[1:4])

['Brasilia', 'Asunción', 'Montevideo']
['hilda', 'jorge', 'erick']

4) Visualizar el tipo de dato de la lista

In [6]:
print(type(lis))
type(list2)

<class 'list'>

list

5) Visualizar todos los elementos de la lista a partir del tercero de manera genérica, es decir, sin explicitar la posición del último elemento

In [7]:
print(lis[2:])
print(list2[2:])

['Asunción', 'Montevideo', 'Santiago', 'Lima', 'Caracas', 'Bogotá']
['jorge', 'erick', 'jessica', 'carolina', 'koki', 'luana']

6) Visualizar los primeros 4 elementos de la lista

In [8]:
print(lis[:4])
print(list2[:4])

['Buenos Aires', 'Brasilia', 'Asunción', 'Montevideo']
['edu', 'hilda', 'jorge', 'erick']

7) Agregar una ciudad más a la lista que ya exista y otra que no ¿Arroja algún tipo de error?

In [10]:
lis.append('Ciudad de Méjico')
list2.append("edu")
list2.append("marilu")
print(list2)

['edu', 'hilda', 'jorge', 'erick', 'jessica', 'carolina', 'koki', 'luana', 'edu', 'marilu', 'edu', 'marilu']

In [17]:
lis.append('Montevideo')

In [18]:
print(lis)

['Buenos Aires', 'Brasilia', 'Asunción', 'Montevideo', 'Santiago', 'Lima', 'Caracas', 'Bogotá', 'Ciudad de Méjico', 'Montevideo']

8) Agregar otra ciudad, pero en la cuarta posición

In [12]:
lis.insert(3, 'Quito')
list2.insert(3,"Maria")

In [13]:
print(lis)
print(list2)

['Buenos Aires', 'Brasilia', 'Asunción', 'Quito', 'Montevideo', 'Santiago', 'Lima', 'Caracas', 'Bogotá', 'Ciudad de Méjico', 'Ciudad de Méjico']
['edu', 'hilda', 'jorge', 'Maria', 'erick', 'jessica', 'carolina', 'koki', 'luana', 'edu', 'marilu', 'edu', 'marilu']

9) Concatenar otra lista a la ya creada

In [16]:
lis.extend(['Madrid','Roma','Bruselas'])
print(lis)
list2.extend(["isaias","victoria"])
print(list2)

['edu', 'hilda', 'jorge', 'Maria', 'erick', 'jessica', 'carolina', 'koki', 'luana', 'edu', 'marilu', 'edu', 'marilu', 'isaias', 'victoria']

10) Encontrar el índice de la ciudad que en el punto 7 agregamos duplicada. ¿Se nota alguna particularidad?

In [17]:
print(lis.index('Montevideo'))
print(list2.index('Maria'))

4
3

11) ¿Qué pasa si se busca un elemento que no existe?

In [18]:
print(lis.index('París'))
print(lis.index('mama'))

ValueError: 'París' is not in list

12) Eliminar un elemento de la lista

In [24]:

list2.remove('edu')

In [25]:
print(lis)
print(list2)

['Brasilia', 'Asunción', 'Quito', 'Montevideo', 'Santiago', 'Lima', 'Caracas', 'Bogotá', 'Ciudad de Méjico', 'Ciudad de Méjico', 'Madrid', 'Roma', 'Bruselas', 'Madrid', 'Roma', 'Bruselas']
['hilda', 'jorge', 'Maria', 'erick', 'jessica', 'carolina', 'koki', 'luana', 'edu', 'marilu', 'isaias', 'victoria']

13) ¿Qué pasa si el elemento a eliminar no existe?

In [27]:
lis.remove('Buenos Aires')

ValueError: list.remove(x): x not in list

14) Extraer el úlimo elemento de la lista, guardarlo en una variable e imprimirlo

In [26]:
ultimo = lis.pop()
ultimo2 = list2.pop()
print(ultimo)
print(ultimo2)

Bruselas
victoria

15) Mostrar la lista multiplicada por 4

In [4]:
print(list2*4)
"edu" in list2

['edu', 'hilda', 'jorge', 'erick', 'jessica', 'carolina', 'koki', 'luana', 'edu', 'hilda', 'jorge', 'erick', 'jessica', 'carolina', 'koki', 'luana', 'edu', 'hilda', 'jorge', 'erick', 'jessica', 'carolina', 'koki', 'luana', 'edu', 'hilda', 'jorge', 'erick', 'jessica', 'carolina', 'koki', 'luana']

True

16) Crear una tupla que contenga los números enteros del 1 al 20

In [6]:
tup = (1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20)
print(type(tup))
print(tup)
tup2 = (1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20)
print(type(tup2))
print(tup2)

<class 'tuple'>
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20)
<class 'tuple'>
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20)

17) Imprimir desde el índice 10 al 15 de la tupla

In [8]:
print(tup[10:16])
print(tup2[10:16])

(11, 12, 13, 14, 15, 16)
(11, 12, 13, 14, 15, 16)

18) Evaluar si los números 20 y 30 están dentro de la tupla

In [9]:
print(20 in tup)
print(30 in tup)
print(20 in tup2)
print(30 in tup2)

True
False
True
False

19) Con la lista creada en el punto 1, validar la existencia del elemento 'París' y si no existe, agregarlo. Utilizar una variable e informar lo sucedido.

In [11]:
elemento = 'París'
if (not(elemento in lis)):
    lis.append(elemento)
    print('Se insertó el elemento', elemento)
else:
    print('El elemento', elemento, 'ya existía')

nombre = "Lucero"
if(nombre in list2):
    print("nombre ya existe")
else:
    list2.append(nombre)
    print("se inserto el nombre: "+nombre)

El elemento París ya existía
nombre ya existe

20) Mostrar la cantidad de veces que se encuentra un elemento específico dentro de la tupla y de la lista

In [14]:
print(tup.count(10))
print(lis.count('Montevideo'))
print(tup2.count(3))
print(list2.count("Lucero"))

1
1
1
2

21) Convertir la tupla en una lista

In [16]:
lis2=list(tup)
print(lis2)
list3=list(tup2)
print(type(list3))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
<class 'list'>

22) Desempaquetar solo los primeros 3 elementos de la tupla en 3 variables

In [17]:
v1, v2, v3, _, _, _, _, _, _, _, _, _, _, _, _, _, _, _, _, _ = tup
print(v1)
print(v2)
print(v3)
l1,l2,l3=tup2[:3]
print(l1)
print(l2)
print(l3)

1
2
3
1
2
3

23) Crear un diccionario utilizando la lista crada en el punto 1, asignandole la clave "ciudad". Agregar tambien otras claves, como puede ser "Pais" y "Continente".

In [18]:
dicc = {  'Ciudad': lis, 
'País': ['Brasil','Paraguay','Ecuador','Uruguay','Chile','Perú','Venezuela','Colombia','Méjico','Uruguay','España','Italia','Francia'], 
'Continente' : ['América','América','América','América','América','América','América','América','América','América','Europa','Europa','Europa']}

dicc2 = {
    'nombre':list3,
    'numeros':tup2,
    'continente' : "America"
}

In [19]:
print(dicc)
print(dicc2)

{'Ciudad': ['Buenos Aires', 'Brasilia', 'Asunción', 'Montevideo', 'Santiago', 'Lima', 'Caracas', 'Bogotá', 'París'], 'País': ['Brasil', 'Paraguay', 'Ecuador', 'Uruguay', 'Chile', 'Perú', 'Venezuela', 'Colombia', 'Méjico', 'Uruguay', 'España', 'Italia', 'Francia'], 'Continente': ['América', 'América', 'América', 'América', 'América', 'América', 'América', 'América', 'América', 'América', 'Europa', 'Europa', 'Europa']}
{'nombre': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20], 'numeros': (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20), 'continente': 'America'}

24) Imprimir las claves del diccionario

In [20]:
print(dicc.keys())
print(dicc2.keys())

dict_keys(['Ciudad', 'País', 'Continente'])
dict_keys(['nombre', 'numeros', 'continente'])

25) Imprimir las ciudades a través de su clave

In [21]:
print(dicc['Ciudad'])
print(dicc2['nombre'])

['Buenos Aires', 'Brasilia', 'Asunción', 'Montevideo', 'Santiago', 'Lima', 'Caracas', 'Bogotá', 'París']
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]